.poppins{
  font-family: "Poppins", serif;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


/* Fade transition */
.hover-text {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: font-size 1s ease, transform 1s ease;
}

/* Hover effect */
.hover-text:hover {
  font-size: 40px; /* Increase the size smoothly */
  transform: scale(1.1); /* Optional: Add scaling for a better effect */
}